h1 {
    color: green;
    text-decoration: underline;
}

p {
    font-size: 25px;
    font-family: 'Trebuchet MS' , sans-serif
}

.spantag {
    text-shadow: 
        yellow 0 0 3px,
        green 4px 4px 10px;
}

a + article {
    color: pink;
}

.important {
    color: orange;
}

.warning {
    color: blue;
}

.warning .important {
    color: red;
}

#element {
    color: purple;
}

    input:not([disabled]):not(.example){
        background-color: #ccc;
    }

    #blue-background {
        height: 80px;
    
    }

    input {
        margin:30px;
    }

    #blue-background:focus-within {
        background-color: #28c589;
    }


   /* input[type=range]::-webkit-slider-thumb, input[type=range]::-moz-range-thumb,
    input[type=range]::-ms-thumb
    */


    input[type=range]::-webkit-slider-runnable-track, input[type=range]::-moz-range-track,
input[type=range]::-ms-track


#divo {
    background-color: #de1205; /* red */
}

body {
    background-color: rgb(220, 204, 206);
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:&usqp=CAU);
    overflow: cover;
}

